 {% extends 'elo/base.html' %} {% block content %}
<h2>Index</h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor metus enim, et fermentum libero euismod vitae. Vestibulum
    ante erat, tristique in ultrices non, sagittis et metus. Nam non hendrerit sem. Maecenas pulvinar eros ac mauris finibus,
    vel pharetra turpis scelerisque. Sed semper diam dictum libero faucibus, eget venenatis velit euismod. Aenean imperdiet,
    ante non dignissim sodales, massa dolor vestibulum tellus, vel imperdiet risus magna at mauris. In mattis, lorem et sollicitudin
    hendrerit, orci enim consequat massa, in cursus lacus elit eget leo. In ac egestas leo. Vivamus bibendum arcu vel leo
    molestie auctor. Ut imperdiet neque nec libero hendrerit, a dictum velit pulvinar. Nam vitae lorem a lectus mollis semper.
    Proin a metus ac ante mollis ullamcorper et pulvinar mi. Maecenas ac lorem ut neque molestie semper vel sagittis arcu.
    In scelerisque eleifend nibh, nec vulputate nibh faucibus id. Sed interdum, nunc nec lobortis fermentum, arcu eros rutrum
    augue, porttitor viverra mi ex et elit. Sed sit amet ex eu mi ullamcorper auctor eu ut lacus. Suspendisse eleifend vulputate
    nisi eu lobortis. Fusce et arcu fermentum, vehicula risus sed, sollicitudin purus. In varius nulla velit, ornare sagittis
    enim euismod sed. Sed id ligula bibendum, efficitur metus et, viverra quam. Morbi vitae velit tempus, maximus lorem quis,
    faucibus nibh. Nulla facilisi. Morbi eget semper libero. </p>
<br>
<small>What is Lorem Ipsum?, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
<small>Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking
    at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
    to using 'Content here, content here', making it look like readable English.</small>
<br>
    <small><a href="https://www.lipsum.com/" target="_blank">Read more about Lorem Impsum</a></small>
{% endblock %}