{% extends 'elo/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About</h2>
<br>
<p>Unfortunately, I do not have time to read everything I want, so I found out that I should create a program that gives me knowledge without reading everything, and faster than reading. 
    Yes, yes, I lose some information since I can not read everything I insert into the database, but I get to work with the text I'm interested in and other text's. 
    Also, I get a lot of work with Python programming and various libraries available, NLP(Natural language processing), IR (Information Retrieval) and some much more.
    So this is more then 2 in 1, how about that.....
   </p>
<p>Go to e-lo wordpress </p><a href="https://follow-e-lo.com/" target="_blank">https://follow-e-lo.com/</a>

{% endblock %}