{% extends "elo/base.html" %} {% block title %}Get {% endblock %} {% block content %} {% load bootstrap %}
<h2>Get</h2>
{% load bootstrap %}

<form method="post" action="{% url 'get_db' %}">
  {% csrf_token %} {{ data.form|bootstrap}}
  <div>
    <input type="submit" class="btn btn-primary" value="Get" name="action" value="GetTopic" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>

</form>
<br>
<!-- text section  -->
<div class="panel-group">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-primary" href="#collapse3">View titles saved</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <br>
      <p>{{ data.title }}</p>
    </div>
  </div>

  <p>Get: <br> {{ data.note }}</p>

<!-- test section  -->
<!--<br>
<div class="panel-group">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-primary" href="#collapse4">Test data</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <br>
      <small>
      {{ data.title }}
          Test data:
          <br>
          {{ data.note }}
          <br>Test data:
          <br>title: {{ data.title}}
          <br>note : {{ data.note }}
          <br>cmd: {{ data.cmd }}
          <br>dict:{{ data.items}}
          {% for k, v in data.items %} Key: {{ k }} Value: {{ v }} {% endfor %}
          <br>form: {{ data.form}}
        </small>
    </div>
  </div>
   -->

{% endblock %}