{% extends "elo/base.html" %} {% block title %}Get metadata {% endblock %} {% block content %} {% load bootstrap %}
<h2>Get metadata</h2>
{% load bootstrap %}
<p>Metadata is data that describes other data. Meta is a prefix that in most information technology usages means "an underlying definition or description."

        Metadata summarizes basic information about data, which can make finding and working with particular instances of data easier.</p>
<!-- k  = keys, v  = list-->
<p><span style="color:blue">This could take a bit time to load, but hey, then it is big data!</span></p>
<p>Metadata in db at time {{data.ti}} : <br> <br>{{ data.li }}

{% endblock %}