{% extends 'elo/base.html' %}
{% block title %}Insert{% endblock %}
{% block content %}
<h2>Insert</h2>
<!--https://django-bootstrap-form.readthedocs.io/en/latest/
    https://django-bootstrap3.readthedocs.io/en/latest/quickstart.html
-->

{% load bootstrap %}

<small>10000 characters max <br> Must insert this in db, gunicorn sync worker timout = bad request due to slow TextBlob realtime, t =120s</small>
<form action="/insert_db" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<p>{{ data }}</p>

{% endblock %}