{% extends "elo/base.html" %} {% block title %}Search {% endblock %} {% block content %} {% load bootstrap %}
<h2>Select your choice of operation and search</h2>
<p>This search uses Django's own
    <a href="https://docs.djangoproject.com/en/2.1/ref/models/querysets/" target="_blank">icontains</a>
</p>
{% load bootstrap %}


<form method="post" action="{% url 'search_db' %}">
    {% csrf_token %} {{ data.form|bootstrap}}
    <input type="submit" value="Search" class="btn btn-primary">
</form>
<p>Comment:
    <span style="color:blue">{{data.comment }}</span>
</p>


<!--<p>Result: {{ data.note }}</p>-->

<p>Result:</p>
{% for note in data.note %}
<div class="well well-lg">{{ note }}</div><br>
{% endfor %} {% endblock %}