{% extends "elo/base.html" %} {% block title %}Search {% endblock %} {% block content %} {% load bootstrap %}
<h2>Select you choice of operation and search</h2>
{% load bootstrap %}


<form method="post" action="{% url 'search_db' %}">
    {% csrf_token %} {{ data.form|bootstrap}}
    <input type="submit" value="Search" class="btn btn-primary">
</form>
<p>extract data is list</p>
<p>Get note with {{data.hook }} : <br> {{ data.note }}</p>
<!--{{ data }}

<p>comment: {{ data.comment }}
    <br> {{ data.hook }}
</p> -->


{% endblock %}