{% extends 'elo/base.html' %} {% block title %}API{% endblock %} {% block content %}
<h2>API</h2>
<br>
<p>In progress for e-lo, user guide will come here with postman
    <a href="https://www.getpostman.com/" target="_blank">Postman API Dev</a>
</p>
<p>HTTP GET:
    <br> testit.tech/api_get_meta
    <br> testit.tech/api_get_hook/hook
</p>
<p>HTTP POST: using auth
    <br>testit.tech/api_
    <br>testit.tech/api_
    <br>testit.tech/api_
</p>
<p>HTTP PUT: using auth
    <br>testit.tech/api_
    <br>testit.tech/api_
    <br>testit.tech/api_

</p>
<p>HTTP DELETE: using auth
    <br>testit.tech/api_
    <br>testit.tech/api_
    <br>testit.tech/api_

</p>

{% endblock %}